body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-color: aqua;
    padding: 10px;
    margin: 50px;
}

h1{
    text-align: center;
    font-style: bold;
    color: blue;
}

form{
    align-content: center;
    

}