body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.title{
    text-align: center;
    margin-top: 40px;
}

.container{
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

table{
    width: 100%;
}

td{
    padding: 10px;
}

input, textarea{
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

textarea{
    height: 80px;
}

button{
    padding: 8px 20px;
    background-color: darkgreen;
    color: white;
    border: none;
    cursor: pointer;
}